/* importing fonts from files*/

/*pixel punk REGULAR----------------*/
@font-face {
  font-family: Punk; 
  src: url(./Pixelpunk.ttf);
  font-weight: normal;
  font-style: normal;
}

/*pixel punk ITALIC*/
@font-face {
  font-family: Punk; 
  src: url(./Pixelpunk_ital.ttf);
  font-weight: normal;
  font-style: italic;
}
/*pixel punk BOLD ITALIC*/
@font-face {
  font-family: Punk; 
  src: url(./Pixelpunk_boldital.ttf);
  font-weight: bold;
  font-style: italic;
}
/*pixel punk BOLD*/
@font-face {
  font-family: Punk; 
  src: url(./Pixelpunk_bold.ttf);
  font-weight: bold;
  font-style: normal;
}
/*---------------------------------------*/

@font-face {
  font-family: Reg; 
  src: url(./Pix32.ttf);
}

/*---------------------------------------*/


@font-face {
  font-family: "Barcode";
  src: url("./Pixelary.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*---------------------------------------*/

/* different backgrounds and style pairings*/
.WindowsBlue {
  background-color: rgb(0, 0, 128);
  color: rgb(255, 255, 255); /*font color*/
  }

/*makes headers and titles Awesome*/
h1 {
  font-size: 4rem; 
}
h2 { 
  font-size: 3rem; 
}
h3, h4, h5, h6 {
  font-size: 2rem; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: Barcode;
  font-weight: normal;
}


/*changing font for "paragraphs" AND links so everything is more consistent*/
p {
  font-family: Reg;
}

a {
  font-family: Reg;
}
  


/*centers information by div*/
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/*special stuff for the about page, but potentially reuseable*/
.about-row {
  display: flex;
  align-items: center;
  gap: 1rem;          
}

.about-row h2,
.about-row p {
  margin: 0;       
}
/*---------------------------------------*/

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

/*for making certain links more visible*/
/*im thinking of adding more color variations for cutesy reasons, but doesn't Need to be done*/
a.button {
  background-color: rgb(255, 255, 0);
  color: black;
  padding: 14px 25px;
  text-align: center;
  font-family: Reg;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

a.button:hover {
  background-color: pink;

}

a.button:visited {
  background-color: pink;
  color: blue;
  
}

/*back arrow adjustments*/
.red {
  color: red;
  text-decoration: none;
  font-size: 2rem;
}


